<h1>Dictionary!</h1>
#if ($definitions)
  <ul>
    #foreach ($definition in $definitions)
      <li>$definition.getFirstDefinition()</li>
    #end
  </ul>
#else
  <p>No definitions</p>
#end

<p>Add a new Definition:</p>

<form action="/definitions" method="post">
  <label for="firstDefinition">First Definition</label>
  <input id="firstDefinition" name="firstDefinition" type="text">

  <button type="submit" class="btn btn-default">Add definition</button>
</form>
